* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

p{
  text-align: center;
}

.boxes div {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 20px;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}

.flash {
  background-color: white;
}

#start_btn {
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden{
  display: none;
}


#console{
  text-align: center;
  color: rgb(1, 60, 40);
  font-weight: bold;
  margin-top: 10rem;
}